.bus-train{
    width:80%;
    border-collapse: collapse;
}
.bus-train th,.bus-train td{
    border: 2px solid black;
    padding:10px;
    text-align: center;
}
.bus-train{
    background-color:rgb(222, 232, 235);

}
