

.bus-train{
    width:80%;
    border-collapse: collapse;
}
.bus-train th,.bus-train td{
    border: 2px solid black;
    padding:10px;
    text-align: center;
}
.bus-train{
    background-color:rgb(222, 232, 235);

}

.booking-btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.booking-form{
    width: 400px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background:linear-gradient(to right,rgb(221, 181, 181),skyblue)

}
.cancel{
    width: 400px;
    height: 500px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    
}
.travel-tips{
list-style-position: inside;
}


